@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-shimmer {
    background-size: 200% auto;
    animation: shimmer 3s linear infinite;
  }
}

.py-24 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}